body{
    min-height: 100vh;
}

header{
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    padding: 25px;

}

nav a{
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    margin: 0px 20px;
    font-weight: bold;
}

.btn{
    background-color: rgb(217, 187, 161);
    width: 200px;
    height: 30px;
    border-radius: 10px;
}

footer{
    background-color: gray;
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}